* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Baloo 2', cursive;
}
.skills {
  padding: 10px;
  line-height: 33px;
  color: black;
}

.h1 {
  margin: 0px 0px;
  padding: 20px;
  background-color: #392850;
  color: white;
  font-weight: bold;
  text-align: center;
  font-size: 33px;
}
.h2 {
  color: #5a1d69;
  margin: 20px 30px;
  line-height: 1.6;
  font-weight: bold;
  font-size: 24px;
}
ul {
  margin: 0px 100px;
  color: black;
  line-height: 1.6;
  font-size: 20px;
  text-decoration: none;
  list-style: none;
}
li {
  list-style: none;
  text-transform: uppercase;
  font-size: 20px;
}
.lastbtn {
  margin: 20px 90px;
}
.button {
  margin: 20px;
  width: 80px;
  height: 5vh;
  color: white;
  font-size: 13px;
  background-color: #392850;
  border-radius: 20px;
  border: 1px solid #392850;
  text-align: center;
}
.button:hover {
  opacity: 1;
  box-shadow: 0 10px 50px rgb(136, 148, 173);
}
@media (min-width: 768px){
  .h1{
    font-size: 35px;
  }
  .h2{
    font-size: 26px;
  }
  li{
    font-size: 23px; 
  }
 .button{
  margin: 25px;
  width: 85px;
  font-size: 15px;
 }
}
@media (min-width: 1040px) {
  .last-button {
    margin: 20px 90px;
  }
  li {
    list-style: none;
    text-transform: uppercase;
    font-size: 25px;
  }
  .button {
    margin: 20px;
    width: 10%;
    height: 5vh;
    color: white;
    background-color: #392850;
    border-radius: 20px;
    border: 1px solid #392850;
    text-align: center;
  }
  .button:hover {
    opacity: 1;
    box-shadow: 0 10px 50px rgb(153, 162, 180);
  }
}
